@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundimg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width:85%;
  max-width:600px;
  margin:0 auto;

  
  }

.phoneframe{
  grid-column:1/5;
}

.image1{
  grid-column:2/5;
  align-self:center;
  margin-left:-20px;
  animation:images 18s infinite forwards;
  animation-timing-function:ease;
  background-repeat: no-repeat;
  transform: translate(0%, 1%);
}

@keyframes images{
  0%{background-image: url('C:\Users\sjran\React\instagram-clone\src\images\mainPage\img1.png');}
  25%{background-image: url('C:\Users\sjran\React\instagram-clone\src\images\mainPage\img2.png');}
  50%{background-image: url('C:\Users\sjran\React\instagram-clone\src\images\mainPage\img3.png');}
  75%{background-image: url('C:\Users\sjran\React\instagram-clone\src\images\mainPage\img4.png');}
  100%{background-image: url('C:\Users\sjran\React\instagram-clone\src\images\mainPage\img1.png');}
}

.image1, .phoneframe{
  grid-row:1/2;
}
  